<html>
    <head>
        <title>ejs-views</title>
    </head>
    <body>
        <nav>
            <h1>ejs-views</h1>
        </nav>
        <h1>Hi I am <%= firstName %> <%= lastName %></h1>
        <h1>And I Live At <%= address %></h1>
    </body>
</html>