html
    head
        title Exercise 5.3
        style.
            nav {
                text-align: center;
                background-color: blue;
                color: white;
            } body {
                background-color: gray;
            }
    body 
        nav
            h2= message