<html>
<head>
<title>Does ejs work?</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
<style>
</style>
</head>
<body class="bg-primary text-dark text-center">
<nav class="bg-dark text-light">
<h1>Does ejs work?</h1>
</nav>
<h2 class="mt-5 mt-5"><%= message %></h2>
</body>
</html>