    <style>
    form {
        text-align: center;
    } input {
        text-align: center;
    }
</style>
<form method="POST" action="/process">
<input type="text" name="firstName" placeholder="First Name"></input>
<br>
<input type="text" name="lastName" placeholder="Last Name"></input>
<br>
<input type="submit"></input>
</form>